<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

 <header class="bgimg" id="home">
        <div class="centered">Express Mailing</div>
  </header>

    <p>The result of performing "<%= total_to_pay %>" </p>



</body>
</html>
