<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

 <header class="bgimg" id="home">
        <div class="centered">Express Mailing</div>
  </header>

<div class="container">
  <div class="card">
    <div class="card-body">
        <h3 class="card-title">Please select the type of mail & the weight</h3>
        <p>Enter the weight as numbers according to the selected mail</p>
        <p id="demo"></p>         
    </div>
</div>
</div>

<div class="container">
  <!-- Content here -->
<form class="needs-validation" form action="/getRate" method="post">
  <div class="form-row">
    <div class="col-md-4 mb-3">
    <label for="exampleFormControlSelect1">Types of Mails</label>
    <select class="form-control" id="mail_type" name="types_of_mails" onchange="showParameters()">
      <option value="" selected disabled hidden>Choose here</option>
       <option value="LettS">Letters (Stamped)</option>
        <option value="LettM">Letters (Metered)</option>
        <option value="LargE">Large Envelopes (Flats)</option>
        <option value="FirstCP">First-Class Package Service—Retail</option>
    </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Weight</label>
      <input type="text" class="form-control" id="weight"name="weight" onkeyup="showParameters()" placeholder="Exp: 12" required>
    </div>  
  </div>
  <button class="btn btn-primary" type="submit" id="myBtn" disabled>Submit</button>
</form>
</div>

<script>


</script>


</body>
</html>
